.menu{
	width: calc(100% - 60px);
	height: 50px;
	background-color: #2196f3;
	color: white;
	line-height: 50px;
	padding: 5px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


