<div class="menu"> <span [routerLink]="['/']">PlatziOverflow </span>

<button *ngIf="!isLoggedIn()" [routerLink]="['/signin']"  mat-icon-button>
<i class="material-icons"> account_circle</i>
</button>


<div *ngIf="isLoggedIn()">

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    {{ fullName() }}
  </button>
  <button mat-menu-item (click)="logout()">
    Cerrar Session
  </button>
</mat-menu>

</div>
</div>


<router-outlet></router-outlet>

<!-- <app-signin-screen> </app-signin-screen> -->
<!-- <app-signup-screen> </app-signup-screen> -->
<!-- <app-question-detail></app-question-detail> -->
<!-- <app-question-list></app-question-list> -->
<!-- <app-question-form></app-question-form> -->
