<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <mat-list>
    <h3 mat-subheader>Preguntas</h3>
    <mat-list-item [routerLink]="['questions', question._id]"  *ngFor="let question of questions">
    	<i *ngIf="question.icon === 'none'" mat-list-icon class="material-icons help">help</i>
    	<i *ngIf="question.icon !== 'none'" mat-list-icon class="{{question.icon}}"></i>

      <h3 mat-line>{{question.tittle}}</h3>
      <p mat-line>
      	<small>{{question.answers.length}} respuestas - {{ question.createdAt | amLocale: "es" | amTimeAgo }}</small>
      </p>

    </mat-list-item>

  </mat-list>

  <div class="button-row redon">
    <button [routerLink]="['questions/new']" mat-mini-fab class="addq">+</button>
  </div>
</div>
